* {
    margin: 0;
    padding: 0;
    font-family: Calibre;
}

h1, h2, h3, p {
    color: #ccd6f6;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.1;
}

p {
    font-weight: 400;
    color: #8892b0;
    line-height: 1.5;
    font-size: 20px;
    max-width: 555px;
}

.page {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.page::before {
    content: "";
    position: absolute;
    left: 66px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    bottom: 10vh;
    background: #a8b2d1;
}

.page::after {
    content: "";
    position: absolute;
    left: 70px;
    height: 20vh;
    width: 1px;
    border-radius: 50%;
    bottom: 15vh;
    background: #a8b2d1;
}

.content {
    width: 1000px;
    padding-top: 8%;
    text-align: center;
}

.header {
    text-align: -webkit-center;
}

.header h2 {
    font-size: 25px;
    font-family: monospace;
    margin: 10px 0 10px;
}

.header p {
    margin-top: 4px;
}

.form {
    margin-top: 3.5%;
}

.form h2 {
    font-family: monospace;
    font-size: 25px;
}

.form h2.response {
    padding-top: 20px;
    font-size: 20px;
    color: var(--res);
    max-width: 360px;
    line-height: 1.5;
    margin: 0 auto;
}

.myself {
    font-size: 70px;
}

.form input {
    color: #64ffda;
    background: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: monospace;
    line-height: 1;
    text-decoration: none;
    /* cursor: pointer; */
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 10px 10px;
    text-align: center;
}

.form input:hover {
    background: rgba(100, 255, 218, 0.05);
}

.form .input {
    width: 25%;
}

.form .input::placeholder {
    color: #8892b0;
}

footer {
    position: absolute;
    bottom: 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

footer p {
    font-family: monospace;
    color: #ccc;
    font-size: 15px;
    letter-spacing: 0.5px;
}

footer p span {
    color: #64ffda;
}

@media only screen and (max-width: 800px) {
    .page::before {
        display: none;
    }
    .page::after {
        display: none;
    }
    .content {
        width: 90%;
        padding-top: 15%;
        text-align: center;
    }
    .header h1 {
        font-size: 50px;
        margin: 10px 0 10px;
    }
    .header h2 {
        font-size: 20px;
    }
    .form h2 {
        font-size: 20px;
    }
    .form input {
        padding: 0.75rem 1.25rem;
    }
}

@media only screen and (max-width: 500px) {
    .form input {
        margin: 15px auto;
        display: block;
        width: 100%;
        padding: 0.75rem 0;
    }
    .form .input {
        width: 100%;
    }
    .page {
        align-items: center;
    }
    .content {
        width: 80%;
        transform: translateY(-10%);
    }
    .header h1 {
        font-size: 35px;
    }
    .header h2 {
        font-size: 18px;
    }
    .header p {
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 15px;
    }
}